:root{
    --navy: #24293E;
    --ocean: #2F3651;
    --clear: #8EBBFF;
    --blue: #9290C3;
    --gray: #2C2C2C;
    --parchment: #FBF5DF;
    --whiteshadow: 4px 4px 0 rgba(255, 255, 255, 0.5);
    --darkshadow: 4px 4px 0 rgba(44, 44, 44, 0.5);
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem 1rem; 
}
.contact-form{
    display: flex;
    justify-content: center;
    width: 100%;
}
/* Updated class names for the comment form */
.comment-card {
    background-color: var(--navy);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
  }
  
  .comment-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .comment-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .comment-group {
    position: relative;
  }
  
  .comment-form .comment-group label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--navy);
    transition: all .3s ease;
  }
  
  .comment-form .comment-group input,
  .comment-form .comment-group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
    color: var(--parchment);
  }
  
  .comment-form .comment-group input:placeholder-shown+label,
  .comment-form .comment-group textarea:placeholder-shown+label {
    top: 10px;
    background-color: transparent;
  }
  
  .comment-form .comment-group input:focus,
  .comment-form .comment-group textarea:focus {
    border-color: #3366cc;
  }
  
  .comment-form .comment-group input:focus+label,
  .comment-form .comment-group textarea:focus+label {
    top: -10px;
    left: 10px;
    background-color: var(--navy);
    color: #3366cc;
    font-weight: 600;
    font-size: 14px;
  }
  
  .comment-form .comment-group textarea {
    resize: none;
    height: 100px;
  }
  
  .comment-btn {
    background-color: var(--clear);
    color: var(--gray);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .comment-btn:hover {
    background-color: var(--parchment);
  }
  